NODE_ENV="development"
ENCRYPTION_KEY=""
DATABASE_URL=""
BETTER_AUTH_TELEMETRY=0
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
SENTRY_DSN_URL=""

SENTRY_AUTH_TOKEN=""
POLAR_SUCCESS_URL=""
POLAR_ACCESS_TOKEN=""

NEXT_PUBLIC_APP_URL=""

GOOGLE_GENERATIVE_AI_API_KEY=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
